.links{
  position: relative;

}
/* start draw icon */
.links .icons{
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}


.links .icons span{

  background-color: black;
  margin-bottom: 5px;
}

.links .icons span:first-child{
  width: 100%;
  height: 2px;

}
.links .icons span:nth-child(2){
width: 60%;
height: 2px;
transition: .3s;

}
.links .icons span:last-child{
width: 100%;
height: 2px;

}
.links:hover .icons span:nth-child(2) {
width: 100%;
}
/* End draw icons */
.links ul{
list-style: none;
margin: 0;
padding: 0;
background-color: #0879c9;
color: white;
position: absolute;
right: 0;
min-width: 200px;
top: calc(100%);
z-index: 1;
display: none;

}
.links:hover ul{
display: block;

}
.links ul li a{
display: block;
padding: 15px;
text-decoration: none;
color: #333;
transition: .3s;
}
.links ul li a:hover{
/* transform: translateX(15px); */
padding-left: 25px;
}
.links ul li:not(:last-child) a{
border-bottom:1px solid #ddd ;
}
