  <div class="col-12 col-md-12 col-lg-12">
    <div class="card box-shadow mx-auto " >
      <img src="../../../assets/images/Selller.avif" class="card-img-top w-25 m-auto" height="350vh">

  <table caption="Sellers" class="table table-bordered table-hover text-center p-2 w-100 mx-auto border">
      <thead class="border">
        <th class="border">First Name</th>
        <th class="border">Last Name</th>
        <th class="border">Address</th>
        <th class="border">Email</th>
        <th class="border">Age</th>
        <th class="border">Balance</th>
        <th class="border">Image</th>
        <th class="border">Status</th>
        <th class="border">Acceptance</th>
      </thead>
      <tbody class="border">
        <tr  class="border py-auto" *ngFor="let user of Sellers">
          <td class="border">{{user.applicationUser.firstName}}</td>
          <td class="border">{{user.applicationUser.lastName}}</td>
          <td class="border">{{user.applicationUser.address}}</td>
          <td class="border">{{user.applicationUser.email}}</td>
          <td class="border">{{user.age}}</td>
          <td class="border">{{user.balance}}</td>
          <td class="border " ><img class="img-fluid w-50"style="height: 100px;" src="http://localhost:5252/images/{{user?.nationalIdImage}}"alt="ProductImage"></td>
          <td class="border">{{user.status}}</td>
          <td class="border" >
            <div class="d-flex" style="width: 80px; margin-left: 90px;">
              <button class="btn btn-success m-2 buttonn1 "  (click)="confirmAccount(user.applicationUserId)">Accept</button>
              <button class="btn btn-danger m-2 buttonn2" (click)="rejectAcount(user.applicationUserId)">Remove</button>
            </div>

          </td>
        </tr>
      </tbody>
      </table>
      </div>
    </div>

